.form-control, .custom-select {
    width: 300px;
}

.form-row {
    width: 1000px;

}


.customer-heading, #new-guest-name, #new-guest-number, #new-guest-username,
#new-guest-password, #new-guest-con-password,  #congregant_name, #congregant_phone,
#service-type, #service-date, #service-time, #register-service-name, #register-service-date,
#register-service-time, #admin-heading,#user-login-name, #user-login-password,
#guestFullName, #guestPhoneNumber, #currentService, #guestServices, #guestServiceDate,
#serviceDate, #serviceTime, #event-Time, #fullName, #phoneNumber,#user-Name,
#password, #new-password
{
    margin-left: 500px;
}

#user-types-label, #user-type, #services-heading {
    margin-left: 500px;
}



#btn-new-guest, #btn-register-event, #btn-confirm-service, #btn-guest-booking  {
    margin-left: 600px;
}

#btn-create-service{
    margin-left: 50px;
}
#service-heading, #create-service-heading {
    margin-left: 300px;
}

#service-inner-div, #create-service-heading  {
    margin-top: 100px;
    margin-left: 500px;
}

#login-time {
float: right;
}
#about {
    background-color: #17a2b8;
}
#services {
    background-color: lightgreen;
}
hr.divider {
    border-color: #5a6268;
}




header.masthead {
background-image: url("../COVID-19 Tracking Media/img/masterhead-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#mainNav.navbar-scrolled .navbar-brand:hover {
    color: #17a2b8;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #34ce57;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #17a2b8;
}

#sidebarMenu-welcome {
    margin-left: 500px;
}
 #main-container {
     background-color: #5a6268;
 }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  margin-left: 500px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}